body {
    background-color: #111;
    color: #ff4d4d;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 50px 0;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

hr {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ff0000;
}

.subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.subject {
    color: #ff0000;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

.subject:hover {
    color: #ff5555;
}

/* Añadir animación de movimiento */
.subject.animated {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}
